HOST = "localhost"
PORT = 6667
NICK = "doorbot"
USER = "doorbot"
REALNAME = "Test bot"
CHANNEL = "#test"
TOPIC = "This is a test topic"
SPACENAME = "hackerspace"
SPACEAPIURI = "http://localhost:8001/"
TIMEZONE = "Europe/Berlin"
CHECKINTERVAL = 10
